html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button {
  font-family: var(--font), sans-serif;
  font-size: 1rem;
}

body {
  font-family: var(--font), sans-serif;
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background-color: var(--clr-dark-blue);
}

::selection {
  background-color: var(--clr-dark-blue);
}

@media (min-width: 48em) {
  .container {
    width: 90%;
    max-width: 90rem;
    margin: 0 auto;
  }
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

p {
  margin: 0;
}

a, a:visited, a:active {
  text-decoration: none;
  color: var(--clr-violet);
}

:root {
  --font: "Open Sans", sans-serif;
  --clr-dark: rgb(31, 31, 31);
  --clr-light: rgb(230, 230, 230);
  --clr-violet: rgb(209, 156, 209);
  --clr-light-red: rgb(235, 118, 144);
  --clr-dark-blue: rgb(24, 42, 75);
  --clr-medium-gray: rgb(150, 150, 150);
  --clr-gray: rgb(117, 117, 117);
}

.card {
  display: flex;
  flex-direction: column;
  color: var(--clr-light);
  background-color: var(--clr-dark);
}
.card__img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
}
.card__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0.5rem 0.25rem;
}
@media (min-width: 23.5rem) {
  .card__content {
    padding: 0.5rem;
  }
}
@media (min-width: 36em) {
  .card__content {
    padding: 0.75rem;
  }
}
@media (min-width: 48em) {
  .card__content {
    padding: 1rem;
  }
}
.card__title {
  font-size: 2rem;
}
.card__date {
  color: var(--clr-medium-gray);
}
.card__desc {
  margin-bottom: 0.75rem;
}
.card__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--clr-violet);
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-self: flex-start;
  padding-left: 0;
}
.card__btn:hover {
  color: var(--clr-light-red);
}
.card__btn:hover .card__btn__line {
  transform: scale(1.05) translateX(0.5rem);
  background-color: var(--clr-light-red);
}
.card__btn:hover .card__btn__line::before, .card__btn:hover .card__btn__line::after {
  background-color: var(--clr-light-red);
}
.card__btn:hover .card__btn__line::before {
  transform: scale(1.05) rotate(35deg);
}
.card__btn:hover .card__btn__line::After {
  transform: scale(1.05) rotate(-35deg);
}
.card__btn__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.25rem;
}
.card__btn__icon span {
  position: relative;
  display: block;
  width: 1rem;
  height: 0.0625rem;
  background-color: var(--clr-violet);
  transition: transform 300ms;
}
.card__btn__icon span::before, .card__btn__icon span::after {
  content: "";
  position: absolute;
  width: 0.5rem;
  height: 0.0625rem;
  right: 0;
  transform-origin: right;
  background-color: var(--clr-violet);
}
.card__btn__icon span::before {
  transform: rotate(30deg);
}
.card__btn__icon span::after {
  transform: rotate(-30deg);
}
.card__copyright {
  color: var(--clr-violet);
  margin-top: auto;
}
@media (min-width: 48em) {
  .card.verbose {
    flex-direction: row;
  }
  .card.verbose .card__img {
    height: initial;
    width: 60%;
  }
  .card.verbose .card__desc {
    line-height: 1.6;
  }
}

.header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0;
  padding: 0.25rem;
  background-color: white;
}
@media (min-width: 23.5rem) {
  .header {
    padding: 0.25rem 0.5rem;
  }
}
@media (min-width: 36em) {
  .header {
    padding: 0.25rem 0.75rem;
  }
}
@media (min-width: 48em) {
  .header {
    padding: 0.25rem 0;
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__logo {
  width: 3.5rem;
}
.navbar__title {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.125rem;
  color: var(--clr-gray);
  display: none;
}
.navbar__title::-moz-selection {
  color: var(--clr-light);
}
.navbar__title::selection {
  color: var(--clr-light);
}
@media (min-width: 11.5rem) {
  .navbar__title {
    display: block;
  }
}
.navbar__menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 3rem;
  height: 3rem;
  padding: 0.375rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  background-color: var(--clr-light, rgb(230, 230, 230));
}
.navbar__menu__item {
  position: relative;
  width: 1.5rem;
  height: 0.25rem;
  background-color: var(--clr-medium-gray);
  border-radius: 100vw;
  -webkit-animation: middle-bar-back 1s linear forwards;
          animation: middle-bar-back 1s linear forwards;
}
.navbar__menu__item::before, .navbar__menu__item::after {
  content: "";
  position: absolute;
  height: 0.25rem;
  background-color: var(--clr-medium-gray);
  border-radius: 100vw;
  right: 0;
}
.navbar__menu__item::before {
  width: 2.25rem;
  top: -0.5rem;
  -webkit-animation: top-bar-back 1s linear forwards;
          animation: top-bar-back 1s linear forwards;
}
.navbar__menu__item::after {
  width: 1.75rem;
  bottom: -0.5rem;
  -webkit-animation: bottom-bar-back 1s linear forwards;
          animation: bottom-bar-back 1s linear forwards;
}
.navbar__menu.active .navbar__menu__item {
  background-color: var(--clr-light-red);
  -webkit-animation: middle-bar 1s linear forwards;
          animation: middle-bar 1s linear forwards;
}
.navbar__menu.active .navbar__menu__item::before, .navbar__menu.active .navbar__menu__item::after {
  background-color: var(--clr-light-red);
}
.navbar__menu.active .navbar__menu__item::before {
  -webkit-animation: top-bar 1s linear forwards;
          animation: top-bar 1s linear forwards;
}
.navbar__menu.active .navbar__menu__item::after {
  -webkit-animation: bottom-bar 1s linear forwards;
          animation: bottom-bar 1s linear forwards;
}
@-webkit-keyframes top-bar {
  0% {
    top: -0.5rem;
    width: 2.25rem;
  }
  25% {
    top: -0.5rem;
    width: 2.25rem;
  }
  50% {
    top: 0;
    width: 2.25rem;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    width: 2.25rem;
    transform-origin: center;
    transform: rotate(45deg);
  }
}
@keyframes top-bar {
  0% {
    top: -0.5rem;
    width: 2.25rem;
  }
  25% {
    top: -0.5rem;
    width: 2.25rem;
  }
  50% {
    top: 0;
    width: 2.25rem;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    width: 2.25rem;
    transform-origin: center;
    transform: rotate(45deg);
  }
}
@-webkit-keyframes middle-bar {
  0% {
    width: 1.5rem;
  }
  25% {
    width: 2.25rem;
    background-color: var(--clr-light-red);
  }
  50% {
    width: 2.25rem;
    background-color: transparent;
  }
  100% {
    width: 2.25rem;
    background-color: transparent;
  }
}
@keyframes middle-bar {
  0% {
    width: 1.5rem;
  }
  25% {
    width: 2.25rem;
    background-color: var(--clr-light-red);
  }
  50% {
    width: 2.25rem;
    background-color: transparent;
  }
  100% {
    width: 2.25rem;
    background-color: transparent;
  }
}
@-webkit-keyframes bottom-bar {
  0% {
    bottom: -0.5rem;
    width: 1.75rem;
  }
  25% {
    bottom: -0.5rem;
    width: 2.25rem;
  }
  50% {
    bottom: 0;
    width: 2.25rem;
    transform: rotate(0deg);
  }
  100% {
    bottom: 0;
    width: 2.25rem;
    transform-origin: center;
    transform: rotate(-45deg);
  }
}
@keyframes bottom-bar {
  0% {
    bottom: -0.5rem;
    width: 1.75rem;
  }
  25% {
    bottom: -0.5rem;
    width: 2.25rem;
  }
  50% {
    bottom: 0;
    width: 2.25rem;
    transform: rotate(0deg);
  }
  100% {
    bottom: 0;
    width: 2.25rem;
    transform-origin: center;
    transform: rotate(-45deg);
  }
}
@-webkit-keyframes top-bar-back {
  100% {
    top: -0.5rem;
    width: 2.25rem;
  }
  50% {
    top: -0.5rem;
    width: 2.25rem;
    background-color: var(--clr-medium-gray);
  }
  25% {
    top: 0;
    width: 2.25rem;
    transform: rotate(0deg);
  }
  0% {
    top: 0;
    width: 2.25rem;
    transform-origin: center;
    transform: rotate(45deg);
  }
}
@keyframes top-bar-back {
  100% {
    top: -0.5rem;
    width: 2.25rem;
  }
  50% {
    top: -0.5rem;
    width: 2.25rem;
    background-color: var(--clr-medium-gray);
  }
  25% {
    top: 0;
    width: 2.25rem;
    transform: rotate(0deg);
  }
  0% {
    top: 0;
    width: 2.25rem;
    transform-origin: center;
    transform: rotate(45deg);
  }
}
@-webkit-keyframes middle-bar-back {
  100% {
    width: 1.5rem;
  }
  50% {
    width: 2.25rem;
    background-color: var(--clr-medium-gray);
  }
  25% {
    width: 2.25rem;
    background-color: transparent;
  }
  0% {
    width: 2.25rem;
    background-color: transparent;
  }
}
@keyframes middle-bar-back {
  100% {
    width: 1.5rem;
  }
  50% {
    width: 2.25rem;
    background-color: var(--clr-medium-gray);
  }
  25% {
    width: 2.25rem;
    background-color: transparent;
  }
  0% {
    width: 2.25rem;
    background-color: transparent;
  }
}
@-webkit-keyframes bottom-bar-back {
  100% {
    bottom: -0.5rem;
    width: 1.75rem;
  }
  50% {
    bottom: -0.5rem;
    width: 2.25rem;
    background-color: var(--clr-medium-gray);
  }
  25% {
    bottom: 0;
    width: 2.25rem;
    transform: rotate(0deg);
  }
  0% {
    bottom: 0;
    width: 2.25rem;
    transform-origin: center;
    transform: rotate(-45deg);
  }
}
@keyframes bottom-bar-back {
  100% {
    bottom: -0.5rem;
    width: 1.75rem;
  }
  50% {
    bottom: -0.5rem;
    width: 2.25rem;
    background-color: var(--clr-medium-gray);
  }
  25% {
    bottom: 0;
    width: 2.25rem;
    transform: rotate(0deg);
  }
  0% {
    bottom: 0;
    width: 2.25rem;
    transform-origin: center;
    transform: rotate(-45deg);
  }
}

.spinner {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 2px solid var(--clr-medium-gray);
  border-left-color: var(--clr-dark);
  -webkit-animation: rotate 2500ms linear infinite;
          animation: rotate 2500ms linear infinite;
}
.spinner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 23.5rem) {
  .spinner {
    width: 3rem;
    height: 3rem;
  }
}
@media (min-width: 36em) {
  .spinner {
    width: 3.5rem;
    height: 3.5rem;
  }
}
@media (min-width: 48em) {
  .spinner {
    width: 4rem;
    height: 4rem;
  }
}
@media (min-width: 62em) {
  .spinner {
    width: 4.5rem;
    height: 4.5rem;
  }
}
@media (min-width: 75em) {
  .spinner {
    width: 5rem;
    height: 5rem;
  }
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 48em) {
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 0.5rem;
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination-wrapper {
  margin-top: 1rem;
  padding: 1rem 0;
}
.pagination__previous, .pagination__next {
  display: flex;
  align-items: center;
  position: relative;
  background-color: transparent;
  border: none;
  padding: 0;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.pagination__previous__date, .pagination__next__date {
  display: none;
}
@media (min-width: 11.5rem) {
  .pagination__previous__date, .pagination__next__date {
    display: initial;
    font-size: 0.75rem;
    color: var(--clr-dark);
  }
  .pagination__previous__date::-moz-selection, .pagination__next__date::-moz-selection {
    color: var(--clr-light);
  }
  .pagination__previous__date::selection, .pagination__next__date::selection {
    color: var(--clr-light);
  }
}
@media (min-width: 48em) {
  .pagination__previous__date, .pagination__next__date {
    font-size: 1rem;
  }
}
.pagination__previous > svg, .pagination__next > svg {
  fill: var(--clr-medium-gray);
}
.pagination__previous:hover, .pagination__next:hover {
  border: 1px solid var(--clr-light-red);
}
.pagination__previous:hover svg, .pagination__next:hover svg {
  -webkit-animation: scale 500ms alternate infinite;
          animation: scale 500ms alternate infinite;
  fill: var(--clr-light-red);
}
@-webkit-keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
.pagination__previous {
  padding-right: 0.25rem;
}
@media (min-width: 23.5rem) {
  .pagination__previous {
    padding-right: 0.5rem;
  }
}
.pagination__next {
  padding-left: 0.25rem;
}
@media (min-width: 23.5rem) {
  .pagination__next {
    padding-left: 0.5rem;
  }
}/*# sourceMappingURL=style.css.map */