.card {
  display: flex;
  flex-direction: column;
  color: var(--clr-light);
  background-color: var(--clr-dark);
  // width: 90%;
  // max-width: 500px;
  // height: 400px;

  &__img {
    object-fit: cover;
    height: 300px;
    // width: 100%;
  }

  &__content {
    padding: 1rem;
  }

  &__title {
    font-size: 2rem;
  }

  &__date {
    color: gray;
  }
}