html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button {
  font-family: var(--font), sans-serif;
  font-size: 1rem;
}

body {
  font-family: var(--font), sans-serif;
  margin: 0;
  padding: 0;
}
