@use '../util' as util;

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button, input, select {
  font-family: var(--font), sans-serif;
  font-size: 1rem;
}

body {
  font-family: var(--font), sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  flex-grow: 1;
}

::selection {
  background-color: var(--clr-dark-blue);
}

.container {
  @include util.breakpoints(medium) {
    width: 90%;
    max-width: 90rem;
    margin: 0 auto;
  }
}

.none {
  display: none;
}
