@use '../util' as util;

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button {
  font-family: var(--font), sans-serif;
  font-size: 1rem;
}

body {
  font-family: var(--font), sans-serif;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: var(--clr-dark-blue);
}

.container {
  @include util.breakpoints(medium) {
    width: 90%;
    max-width: 90rem;
    margin: 0 auto;
  }
}

.none {
  display: none;
}
