:root {
  --font: 'Open Sans', sans-serif;
  --clr-dark: rgb(31, 31, 31);
  --clr-medium-dark: rgb(51, 51, 51);
  --clr-light: rgb(230, 230, 230);
  --clr-violet: rgb(209, 156, 209);
  --clr-light-red: rgb(235, 118, 144);
  --clr-dark-blue: rgb(24, 42, 75);
  --clr-almost-white: rgb(238, 238, 238);
  --clr-medium-gray: rgb(150, 150, 150);
  --clr-gray: rgb(117, 117, 117);
}